nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 20px;
    margin: 0;
  }
  
  .logo {
    width: 20%;
    margin-left: 80px;
  }
  
  nav .logo img {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0% 0% 0% 0%;
    margin: 0% 20% 0% 40%;
    width: 80%;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin: 0 35px;
    background-color: transparent;
  }
  
  nav ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    padding: 10% 0% 10% 0%;
    margin: 0% 0% 0% 0%;
   
  }
  
  nav ul li a:hover {
    color: #848181;
  }
  
  nav .login-register {
    margin:0% 0% 0% 0%;
  }
  nav ul li{
    position: relative;
    overflow: initial;
  }
  
  nav ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition:  0.8s ease;
  }
  
  nav ul li:hover::before {
    width: 100%;
  }
  

